/* the box .box  i copied from MDN to has inpiration from the next boxes */

.box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: rgb(12, 168, 42);
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    /*transition: width 2s, height 2s, background-color 2s, transform 2s;*/
    transition: all 2s;
    border-radius: 5px;
}

.box:hover {
    background-color: rgb(151, 230, 152);
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.box-main {
  margin-top: 40px;
  margin-left: 400px;
  position: relative;
}

.box-bottom {
  margin-left: 400px;
  position: relative;
}


.left{
  display: inline-block;
  height: 200px;
  width: 200px;

  border-radius: 5px;
  background-color: rgb(3, 138, 61);
  transition: all 2s;
}

.left:hover {
  background-color: rgb(152, 246, 144);
  transform: scale(1.7);

}

.left-mid{
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(6, 77, 45);
  transition: all 2s;
}

.left-mid:hover {
 background-color: rgb(152, 246, 144);
 transform: rotateX(720deg);
}

.right-mid {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(38, 71, 53);
  transition: all 2s;
}


.right-mid:hover {
 background-color: rgb(152, 246, 144);
 transform: translate(-50px, 50px);
}


.right {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(9, 34, 10);
  transform-origin: right top;
  transition: all 2s;
}

.right:hover {
 background-color: rgb(152, 246, 144);
 transform: rotate(720deg);
}
