main {
  position: relative;
  border: solid 2px rgb(59, 215, 103);
}
section {
position: relative;
border: solid 2px rgb(40, 62, 172);
margin: 30px;
padding: 50px;
float: right:
}

aside {
position: absolute;
border: solid 2px rgb(207, 144, 92);
padding: 100px;
margin: 20px;
}

article {
  position: fixed;
  border: solid 2px rgb(87, 21, 32);
  padding: 150px;
  bottom: 0;
  right: 0;
}

.red {
  position: relative;
  display: inline-block;
  border: solid 2px rgb(224, 19, 25);
  padding:inherit;
}

.blue {
  position: relative;
  display: inline-block;
  border: solid 2px rgb(56, 43, 232);
  padding: inherit;
}

.full-light-blue {
  position:relative;
  align-self:flex-start;
  background-color: rgb(138, 168, 237);
  padding: inherit;
}

.yellow {
  position: relative;
  display: inline-block;
  border: solid 2px rgb(255, 245, 13);
  padding: inherit;
}

.full-yellow {
  postion: relative;
  align-content: flex-end;
  background-color: rgb(239, 255, 9);
  padding:inherit;
}

.full-blue {
  position: relative;
  align-content: flex-end;
  background-color: rgb(39, 47, 245);
  padding: inherit;
}

.full-pink {
  position: relative;
  align-self: flex-end;
  background-color: rgb(231, 22, 197);
  padding: inherit;
}
